---
layout: default
---
<div class="row">
  <div class="col-lg-12 dog">
    <h1 class="intro">Designer turned<br> software engineer.</h1>
  </div>
  <!-- <div class="col-md-4">
  </div> -->
</div>

<hr>
<div class="row">
  <div class="col-lg-4">
    <h4>Blog</h4>
  </div>
  <!-- <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul> -->
  <div class="col-lg-8">
  {% for post in site.posts %}
      <a href="{{ post.url }}">
        <!-- <div class="col-lg-12 col-md-6 col-sm-6"> -->
          <div class="post-item">
            <!-- <img src="{{ blog-post.image }}"> -->
            <div class="caption">
              <h3>{{ post.title }}</h3>
              <p>{{ post.description }}</p>
            </div>
            <!-- <div class="view">
              Read Post
            </div> -->
          </div>
        <!-- </div> -->
      </a>
  {% endfor %}
  </div>
</div>

<hr>
<div class="row">
  <div class="col-lg-4">
    <h4>Recent Projects</h4>
  </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <h3><a href="/projects/new_york_public_art/index.html">NYC Public Artwork <span class="glyphicon glyphicon-share-alt"></span></a></h3>
      <p>Web application that maps data from NYC Open Data about temporary public art installations. Written in Javascript using D3 and Mapbox.</p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <h3><a href="/projects/twitter_feels/index.html">Twitter Feels <span class="glyphicon glyphicon-share-alt"></span></a></h3>
      <p>Data visualization written in Javascript and Ruby using Twitter's API, Google's Natural Language Processing API, and a D3-powered charting API.</p>
    </div>
</div>

<hr>
<div class="row home">
  <div class="col-lg-4">
    <h4>Design Work</h4>
  </div>
  <div class="col-lg-8">
  {% for work in site.works %}
      <a href="{{ work.url }}">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="thumbnail">
            <img src="{{ work.image }}">
            <div class="caption">
              <h3>{{ work.title }}</h3>
              <p>{{ work.description }}</p>
            </div>
            <div class="view">
              View Project
            </div>
          </div>
        </div>
      </a>
  {% endfor %}
  </div>
</div>
