---
---

// Variables to modify font folders
$icon-font-path:      "../fonts/bootstrap/";
$fa-font-path:        "../fonts/font-awesome/";

$font-family-sans-serif:  "mr-eaves-xl-modern", Helvetica, Arial, sans-serif !default;
$headings-font-weight:    700 !default;
$heading-color:           #333333 !default;
$font-size-base:          17.5px !default;
$font-size-h1:            floor(($font-size-base * 3.2)) !default; // ~36px
$link-hover-decoration:   none !default;
$brand-primary:           darken(#FFCD00, 6.5%) !default; // #337ab7
// $text-color:              #000 !default;

//** Global textual link color.
$link-color:            inherit !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      inherit !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;

::selection{
  background-color: lighten(#FFE889, 10%);
}

body{
  vertical-align: bottom;
}

div.col-lg-8{
  padding: 0px;
}

div .center{
  text-align: center;
}
img.intro_img{
  width: 100%;
}

.caption{
  padding-top: 0px;
  display: inline;
}

.footer{
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: left;
}

.fa{
  padding: 5px;
}

.container{
  margin-top: 50px;
}

.intro{
  padding-top: 100px;
  padding-bottom: 150px;
}

.dog {
  background-image: url("/img/fluffy_pup.png");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: right;
}

.nav a:hover{
  color: #555;
}

img{
  width: 100%;
}

.web{
  box-shadow: 0px 0px 5px #aaa;
}

.top_margin{
  margin-top: 30px;
}

h3,
a,
a .fa:hover{
  transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
}

h3,
a:hover,
a .fa:hover{
  transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
}

.thumbnail{
  width: 100%;
  border-radius: 100px;
  overflow: hidden;
  margin: 0px;
  position: relative;
}

.nav h4{
  color: #dddddd;
  font-weight: 600;
  display: inline-block;
}

div > h4 {
  color: #dddddd;
  // font-family: "mr-eaves-xl-sans";
  font-weight: bold;
  // font-style: italic;
}

a:hover .thumbnail{
  border-color: #FFB400;
}

.work{
  margin-top: 0px !important;
}

.view{
  font-family: "mr-eaves-xl-sans";
  position: absolute;
  right: 10px;
  bottom: 0px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
  color: darken(#FFB400, 10%);
}

a:hover .view{
  visibility: visible;
  bottom: 6px;
  opacity: 1;
  transition: all 0.3s ease-in-out 0s;
}

// .thumbnail h3, .thumbnail p {
//   margin: 0px;
//   padding: 0px 10px;
// }

.row h3 {
  margin-top: 10px;
}

h3 a .glyphicon{
  color: #FFB400;
  font-size: 17px;
}

h3 a:hover,
a .fa:hover{
  color: darken(#FFB400, 10%);
}

.logo {
  height: auto;
  width: 50px;
  margin-bottom: 5px;
  padding-right: 10px;
}

.post {
  width: 680px;
  margin: 0 auto;
  line-height: 1.8;
}

.post a {
  font-weight: 700;
  border-bottom: 1px solid #FFDB46;
  margin: 0;
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-size: 20px;
}

.post p, li{
  font-family: "leitura-news", serif;
  color: #444;
}

.post a:hover {
  background-color: #FFDB46;
  // color: #FFCD00;
}

.blog-post p {
  display: inline;
}


// Media queries
@media(min-width:992px) and (max-width:1199px){
  .intro{
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media(max-width:991px){
  .dog{
    background-image: none;
  }
}

@media(max-width:991px){
  .intro{
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

@import "bootstrap";
@import "font-awesome";
